body {
    background: #f4f4f4;
    width: 360px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.flex_row {
    display: flex;
    justify-content: space-between;
}

#buttons_row {
    display: flex;
    height: 35px;
    width: 100%;
}

#buttons_row > a {
    text-decoration: none;
}

.tab {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 25px;
    align-self: center;
    overflow: auto;
    color: rgb(247, 247, 247);
    padding: 5px 10px 5px 10px;
    background-color: #6441a4;
    align-items: center;
    display: flex;
}

.tab > img {
    padding: 3px;
}

.spacing {
    background-color: #6441a4;
    height: 35px;
    width: 100%;
}

.tab:hover {
    background-color: #6441a4cb;
}

.refresh_button {
    margin-right: 4px;
    vertical-align: middle;
}

#content_iframe {
    width:390;
    height:450px;
    overflow: auto;
}