body {
    background: #f4f4f4;
    width: 370px;
    margin: 0px;
}
.flex_row {
    display: flex;
}

/* remove scroolbars */
.element,
.outer-container {
  width: 360px;
  height: 450px;
}
.outer-container {
  position: relative;
  overflow: hidden;
}
.inner-container {
  display: flex;
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 150px;
}
.inner-container::-webkit-scrollbar {
  display: none;
}
/* remove scroolbars */

/* New view */
.upper_frame {
}

.upper_channel_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-left: 5px;
    color: #6441a4;
    font-weight: 600;
    font-size: 14px;
}

.upper_channel_viewers {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    color: #616161;
}

.upper_channel_uptime {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    float: right;
    color: #616161;
    font-size: 11px;
    margin-right: 18px;
    padding-top: 6px;
}

.stream_header_separator {
    margin-left: 5px;
    margin-right: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 1px solid rgba(100, 65, 164, 0.3);
}

.stream_frame {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F0F0F0;
    padding: 2px;
    margin-bottom: 4px;
    width: 350px;
    display: flex;
    align-items: center;
    transition: .5s ease;
    opacity: 1;
}

.stream_frame:hover {
    background-color: #f4f4f4;
}

.live_stream_information_frame {
    align-self: flex-start;
    width: 70%;
    padding-right: 3px;
    padding-left: 3px;
}

.live_stream_image {
    width: 30%;
    align-items: center;
}

.stream_link {
    text-decoration: none;
}

.channel_image {
    max-width:100%;
    max-height:100%;
    opacity: 0;
	transition: opacity 0.8s;
}

.channel_game {
    font-weight: 600;
    color: #616161;
    font-size: 12px;
}

.channel_title {
    font-weight: 400;
    color: #616161;
    font-size: 11px;
    flex-wrap: wrap;
}

.channel_uptime {
    color: #6161613d;
    font-size: 11px;
    flex-wrap: wrap;
}

.channel_viewers {
    font-size: 11px;
    color: #616161;
}

#live_stream_container {
    margin-top: 5px;
}