
.setting_row {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #6441a4;
    margin-left: 3px;
}

#user_name {
    color: #6441a4;
}

.radio_row {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #6441a4;
    align-items: center;
    margin-left: 3px;
}

.notification_option_row {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #6441a4;
    margin-top: 10px;
    margin-left: 3px;
}

.notification_option_row_with_title {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #6441a4;
}

#checkbox-show-notif {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 2px;
}
#checkbox-show-thumbnails {
    margin-left: 5px;
    margin-top: 5px;
}

.sort_direction {
    margin: 4px 5px 3px 0px;
    color: #6441a4;
}

.setting_row p {
    font-weight: bold;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
}

.setting_row input {
    padding: 4px;
    border: 1px solid #6441a4;
    border-radius: 2px;
}

#username_label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2px;
}

.settings_section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
    color: #6441a4;
}

#save_button {
    margin-top: 5px;
}

#save_button a {
    text-decoration: none;
}

.settings_button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px 16px 4px 16px;
    border: 1px solid #B3B3B3;
    background-color: #6441a4;
    color: #FFFFFF;
    font-weight: 400;
}

.debug_row {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #B3B3B3;
    font-size: 12px;
}

#debug_frame {
    margin-top: 10px;
}

#update_state {
    margin-left: 3px;
}

#update_date {
    margin-left: 3px;
}


#sort_options {
    margin-bottom: 5px;
    width: 150px;
    height: 25px;
    border: 0;
    margin-bottom: 0;
    color: #6441a4;
}
#sort_options_container {
    display: flex;
    width: 150px;
    border: 1px #6441a4 solid;
    margin-bottom: 5px;
}

.settings_section_separator {
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 2px;
    border-top: 1px solid rgba(100, 65, 164, 0.3);
}

#freepik_credit {
    margin-top: 340px;
    font-family: sans-serif;
    font-size: 10px;
    color: #B3B3B3;
}

#freepik_credit a {
    color: rgb(184, 221, 255);
}