body {
    background: #f4f4f4;
    margin: 0px;
}
.flex_row {
    display: flex;
}

.tab {
    height: 20px;
    padding: 10px;
    align-self: center;
}

.tab img {
    vertical-align:middle;
}

.tab_left {
    background: #6441a4;
    color: #FFFFFF;
    border-radius: 0px 0px 0px 9px;
    margin-left: 5px;
}

.tab_right {
    background: #6441a4;
    color: #FFFFFF;
    border-radius: 0px 0px 8px 0px;
    margin-right: 5px;
}

.follows_tab {
    margin-right: 4px;
}

.settings_tab {
    margin-right: 4px;
}

.refresh_button {
    margin-right: 4px;
    vertical-align: middle;
}

.statistics {
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding-top: 1px;
    padding-bottom: 1px;
}

.live_count {
    align-items: baseline;
    margin-left: 7px;
}

.live_count img {
    margin-right: 2px;
}

.followed_streams {
    align-items: baseline;
    margin-left: 20px;
}

.stat_caption {
    margin-right: 3px;
}

.followed_heart {
    margin-right: 3px;
    fill: #6441a4;
    width: 12px;
    height:12px;
}

.live_stream_container div {
    
}