body {
    background: #f4f4f4;
    width: 370px;
    margin: 0px;
}
.flex_row {
    display: flex;
}

.tab {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20px;
    padding: 10px;
    align-self: center;
}

.tab img {
    vertical-align:middle;
}

.tab_left {
    background: #6441a4;
    color: #FFFFFF;
    border-radius: 0px 0px 0px 9px;
    margin-left: 5px;
}

.tab_right {
    background: #6441a4;
    color: #FFFFFF;
    border-radius: 0px 0px 8px 0px;
    margin-right: 5px;
}

.follows_tab {
    margin-right: 4px;
}

.settings_tab {
    margin-right: 4px;
}

.refresh_button {
    margin-right: 4px;
    vertical-align: middle;
}

.statistics {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding-top: 1px;
    padding-bottom: 1px;
}

.live_count {
    align-items: baseline;
    margin-left: 7px;
}

.live_count img {
    margin-right: 2px;
}

.followed_streams {
    align-items: baseline;
    margin-left: 20px;
}

.stat_caption {
    margin-right: 3px;
}

.followed_heart {
    margin-right: 3px;
    fill: #6441a4;
    width: 12px;
    height:12px;
}

.stream_frame {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F0F0F0;
    padding: 2px;
    border: 1px solid darkgrey;
    margin-bottom: 4px;
    margin-left: 7px;
    margin-right: 7px;
    width: 350px;
    display: flex;
    align-items: center;
}

.live_stream_information_frame {
    align-self: flex-start;
    width: 75%;
}

.live_stream_image {
    width: 25%;
    align-items: center
}

.stream_link {
    text-decoration: none;
}

.channel_name {
    color: #6441a4;
    font-weight: bold;
    font-size: 14px;
}

.channel_image {
    max-width:100%;
    max-height:100%;
}

.channel_game {
    color: #616161;
    font-size: 12px;
}

.channel_title {
    color: #616161;
    font-size: 11px;
    flex-wrap: wrap;
}